/* Margin left and right at 10px to body tags
Margin left and right at 15px to div tags
You must use a mixin */

@mixin alterBody() {
    margin-left: 10px;
    margin-right: 10px;
}
  
@mixin alterDiv() {
    margin-left: 15px;
    margin-right: 15px;
}

body {
    @include alterBody();
}

div {
    @include alterDiv();
}